<div class="row mt-5">
  <div class="col-11 text-center">
    <img src={{book.imgPath}} alt={{book.name}} class="img-responsive" style="max-height: 300px">
  </div>
  <div class="col-1">
    <button>x</button>
  </div>
</div>
<div class="row my-5 ml-5">
  <div class="col-12">
      <div class="card">
          <div class="card-body">
            <h5 class="card-title" #heading>{{ book.name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{book.author}}</h6>
            <p class="card-text">{{ book.desc }}</p>
          </div>
        </div>
  </div>
</div>
