<div class="row">
  <div class="col" 
  id="A" 
  (mouseenter)='enter(ASquare)' 
  (mouseleave)='exit(ASquare)' 
  #ASquare>
    A
  </div>
  <div class="col" id="B" (mouseenter)='enter(BSquare)' (mouseleave)='exit(BSquare)' #BSquare>
    B
  </div>
</div>
<div class="row">
  <div class="col" id="C" (mouseenter)='enter(CSquare)' (mouseleave)='exit(CSquare)' #CSquare>
    C
  </div>
  <div class="col" id="D" (mouseenter)='enter(DSquare)' (mouseleave)='exit(DSquare)' #DSquare>
    D
  </div>
</div>