/* .col {
    width: 50vw;
    text-align: center;
    padding-top: 20vh;
}
.row {
    height: 40vh;
}

#A{
    background: lightcoral;
}

#B{
    background: lightskyblue;
}

#C{
    background: lightgreen;
}

#D{
    background: lightgoldenrodyellow;
} */

.btn {
    margin-left: 1vw;
    margin-right: 1vw;
}
.row {
    padding-top: 2vh;
    padding-bottom: 2vh;
}