<!-- Stage 0 -->
<!-- <p>Book Works!</p> -->
<!-- Stage 1 -->
<!-- <a href="#" class="list-group-item list-group-item-action">
    <div class="row">
        <div class="col-2">
            1
        </div>
        <div class="col-5">
            Book A
        </div>
        <div class="col-5">
            Akshat
        </div>
    </div>
</a> -->
<!-- Stage 2 -->
<a href="#" class="list-group-item list-group-item-action" (click)="loadDetails()">
    <div class="row">
        <div class="col-1">
            {{ index+1 }}
        </div>
        <div class="col-7">
            {{ data.name }}
        </div>
        <div class="col-4">
            {{ data.author }}
        </div>
    </div>
</a>