<!-- Stage 0 -->
<!-- <app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-12">
      <app-home></app-home>
    </div>
  </div>
</div>
<footer class="footer" >
<div class="row">
  <div class="col-1">About us</div>
  <div class="col-1">Contact us</div>
  <div class="col-4">Terms and conditions</div>
</div>
</footer> -->
<!-- Stage 1 -->
<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-12">
      <!-- <app-add-page></app-add-page> -->
      <app-home></app-home>
    </div>
  </div>
</div>
<!-- <footer class="footer" appBasicHighlight>
<div class="row">
  <div class="col-1">About us</div>
  <div class="col-1">Contact us</div>
  <div class="col-4">Terms and conditions</div>
</div>
</footer> -->
<footer class="footer" appBetterHighlight>
  <div class="row">
    <div class="col-1">About us</div>
    <div class="col-1">Contact us</div>
    <div class="col-4">Terms and conditions</div>
  </div>
</footer>