<!-- Stage 0 -->
<!-- <p>
  details works!
</p> -->
<!-- Stage 1 -->
<!-- <div class="row mt-5">
  <div class="col-11 text-center">
    <img src={{data.imgPath}} alt={{data.name}} class="img-responsive" style="max-height: 300px">
  </div>
</div>
<div class="row my-5 ml-5">
  <div class="col-12">
      <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ data.name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{data.author}}</h6>
            <p class="card-text">{{ data.desc }}</p>
          </div>
        </div>
  </div>
</div> -->
<!-- Stage 2 -->
<div class="row mt-5">
  <div class="col-11 text-center">
    <img src={{data.imgPath}} alt={{data.name}} class="img-responsive" style="max-height: 300px">
  </div>
  <div class="col-1">
    <button class="btn btn-outline-danger" (click)="close()">x</button>
  </div>
</div>
<div class="row my-5 ml-5">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title" #heading>{{ data.name}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{data.author}}</h6>
        <p class="card-text">{{ data.desc }}</p>
      </div>
    </div>
  </div>
</div>