<div class="row">
  <div class="col-6">
    <input type="text" class="center-block" [(ngModel)]="name" (keypress)="change()">
  </div>
  <div class="col-6">
      <input type="text" class="center-block" [(ngModel)]="name" (keypress)="change()">
  </div>
</div>
<div class="row my-5">
  <div class="col-12">
      <p>Two Way Binded Data:{{ name }}</p>
  </div>
</div>
<a [routerLink]="['/add_page', 'adhrit', 'from_routerLink']">Reload Page - routerlink</a><br><br>
<button (click)="routeTo()">Reload Page - router.navigate</button><br>
<h4>User - <span [innerHTML]="user"></span></h4>
<h4>Data - <span [innerHTML]="data"></span></h4>
<h4>Favourite Number - <span [innerHTML]="num"></span></h4>
<div class="space" ></div>
<a name="down_here" [innerHTML]="'Anchor tag with name '+frag"></a>