<!-- Stage 0 -->
<!-- <p>In  Home!
</p> -->
<!-- Stage 1 -->
<!-- <div class="row">
  <div class="col-4">
    <app-items></app-items>
  </div>
  <div class="col-8">
    <app-details></app-details>
  </div>
</div> -->
<!-- Stage 2 -->
<div class="row">
    <div class="col-6">
      <app-items (lb)="loadbook($event)" ></app-items>
    </div>
    <div class="col-6">
        <app-details [data]="bookDetails" (removeBook)="clear()" *ngIf="bookDetails;else infoText"></app-details>
        <ng-template #infoText>
          <p class="mt-5">Please select a book!!!</p>
        </ng-template>
          </div>
  </div>
  